html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "CaviarDreams";
  src: url("../font/CaviarDreams-webfont.eot");
  src: url("../font/CaviarDreams-webfont.eot?#iefix") format("embedded-opentype"), url("../font/CaviarDreams-webfont.woff") format("woff"), url("../font/CaviarDreams-webfont.ttf") format("truetype"), url("../font/CaviarDreams-webfont.svg#nunitobold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CaviarDreamsBold";
  src: url("../font/Caviar_Dreams_Bold-webfont.eot");
  src: url("../font/Caviar_Dreams_Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../font/Caviar_Dreams_Bold-webfont.woff") format("woff"), url("../font/Caviar_Dreams_Bold-webfont.ttf") format("truetype"), url("../font/Caviar_Dreams_Bold-webfont.svg#nunitobold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSansBold";
  src: url("../font/OpenSans-Bold-webfont.eot");
  src: url("../font/OpenSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../font/OpenSans-Bold-webfont.woff") format("woff"), url("../font/OpenSans-Bold-webfont.ttf") format("truetype"), url("../font/OpenSans-Bold-webfont.svg#nunitobold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSansLight";
  src: url("../font/OpenSans-Light-webfont.eot");
  src: url("../font/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../font/OpenSans-Light-webfont.woff") format("woff"), url("../font/OpenSans-Light-webfont.ttf") format("truetype"), url("../font/OpenSans-Light-webfont.svg#nunitobold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("../font/OpenSans-Regular-webfont.eot");
  src: url("../font/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../font/OpenSans-Regular-webfont.woff") format("woff"), url("../font/OpenSans-Regular-webfont.ttf") format("truetype"), url("../font/OpenSans-Regular-webfont.svg#nunitobold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSansSemibold";
  src: url("../font/OpenSans-Semibold-webfont.eot");
  src: url("../font/OpenSans-Semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../font/OpenSans-Semibold-webfont.woff") format("woff"), url("../font/OpenSans-Semibold-webfont.ttf") format("truetype"), url("../font/OpenSans-Semibold-webfont.svg#nunitobold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  src: url("../font/icons.eot");
  src: url("../font/icons.eot?#iefix") format("embedded-opentype"), url("../font/icons.woff") format("woff"), url("../font/icons.ttf") format("truetype"), url("../font/icons.svg#icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

.icon-twitter, .icon-linkedin, .icon-tumblr, .icon-github, .icon-pinterest, .icon-youtube, .icon-facebook, .icon-search {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.icon-twitter:before {
  content: "\e001";
}

.icon-linkedin:before {
  content: "\e006";
}

.icon-tumblr:before {
  content: "\e007";
}

.icon-github:before {
  content: "\e00d";
}

.icon-pinterest:before {
  content: "\e00f";
}

.icon-youtube:before {
  content: "\e00a";
}

.icon-facebook:before {
  content: "\e004";
}

.icon-search:before {
  content: "\e000";
}

html, body {
  height: 100%;
}

#wrapper {
  min-height: 100%;
  position: relative;
}

body {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../img/foto-01.jpg);
}

/* ESTILOS GENÉRICOS */
section {
  padding-bottom: 50px;
  overflow: hidden;
  *zoom: 1;
}
section h1 {
  font-family: CaviarDreams;
  font-size: 25px;
  border-bottom: 1px solid #333333;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
section h2 {
  font-size: 18px;
}
section p {
  font-size: 13px;
  line-height: 1.3em;
  margin-bottom: 1.3em;
}
section li {
  font-size: 13px;
}
section li.guion:before {
  content: "- ";
  line-height: 1.4em;
}
section li.cuadro:before {
  content: "■ ";
}
section strong {
  font-family: "OpenSansBold";
}
section a {
  color: inherit;
  text-decoration: none;
}

/* HEADER */
header {
  height: 200px;
  background: url(../img/bg_header.png);
  margin: 0 0 30px 0;
}
header .contenedor {
  z-index: 1;
  position: relative;
}
header .contenedor #logo {
  float: left;
  display: block;
  height: 163px;
  width: 189px;
  margin: 35px 0 0 30px;
}
header .contenedor #filtro {
  float: right;
  margin: 30px 50px 0 0;
  height: 50px;
  width: 535px;
  font-family: CaviarDreams;
  font-size: 14px;
  position: relative;
  z-index: 99999;
}
header .contenedor #filtro .seleccionado {
  color: black;
}
header .contenedor #filtro > div {
  width: 100%;
  background: #e57823;
  height: 60%;
  padding: 5px 6px;
  margin: 20px 0 0 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-radius: 0 7px 7px 7px;
}
header .contenedor #filtro > div button {
  width: 23px;
  color: white;
  padding: 0;
  height: 24px;
  margin: -2px 0 0 -3px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
header .contenedor #filtro > div > div {
  float: left;
  width: 238px;
  background: white url(../img/flecha-combo.png) top right no-repeat;
  color: #aaaaaa;
  padding: 0 3px;
  margin: 0 6px 0 0;
  cursor: pointer;
  line-height: 20px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}
header .contenedor #filtro > div > div span {
  display: block;
}
header .contenedor #filtro > div > div div {
  max-height: 100px;
  display: none;
}
header .contenedor #filtro > div > div div ul {
  float: right;
  width: 238px;
  padding: 0 8px 0 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
header .contenedor #filtro > div > div div ul li {
  float: left;
  text-align: left;
  width: 100%;
  color: black;
  padding: 0 10px 0 5px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  position: relative;
}
header .contenedor #filtro > div > div div ul li:hover {
  background: #fae1cd;
}
header .contenedor #filtro a {
  float: left;
  height: 20px;
  width: 100px;
  color: white;
  background: #4c4849;
  padding: 0 5px;
  line-height: 17px;
  border-radius: 7px 7px 0 0;
  text-decoration: none;
}
header .contenedor #filtro a:hover {
  background: #b84e00;
}
header .contenedor #filtro .active {
  background: #e57823 !important;
}

/* SOCIAL MEDIA */
#socialmedia {
  float: right;
  height: 50px;
  line-height: 50px;
  padding: 20px 50px 0 0;
  text-align: right;
  width: 580px;
}
#socialmedia a {
  text-decoration: none;
  color: black;
}
#socialmedia a i {
  font-size: 16px;
  margin: 0 5px 0 0;
}

/* BARRA DE MENU */
nav {
  position: relative;
  margin: 0 auto;
  float: right;
  width: 70%;
  z-index: -1;
}
nav > ul {
  float: right;
  font-family: "CaviarDreams";
  margin: 0 25px 0 0;
  font-size: 16px;
}
nav > ul > li {
  padding: 0 18px;
  position: relative;
  text-align: center;
  float: left;
}
nav > ul > li > a {
  color: black;
  text-shadow: 0 0.2em 0.2em #aaaaaa;
  height: 50px;
  line-height: 50px;
  display: block;
  width: 80px;
  text-transform: lowercase;
  text-decoration: none;
}
nav > ul > li > a:hover, nav > ul > li > a.active {
  color: #e57823;
}
nav > ul > li ul {
  display: none;
  position: absolute;
  z-index: 99999;
  margin: 0 -30px;
  width: 120px;
  background: white;
  border-radius: 0 0 7px 7px;
  padding: 0 10px;
}
nav > ul > li ul li {
  -webkit-transition: "all" "200ms";
  -moz-transition: "all" "200ms";
  -o-transition: "all" "200ms";
  transition: "all" "200ms";
}
nav > ul > li ul li a {
  text-decoration: none;
  color: black;
  text-shadow: 0 0.2em 0.2em #aaaaaa;
  line-height: 1em;
  margin: 10px 0;
  display: block;
  -webkit-transition: "all" "200ms";
  -moz-transition: "all" "200ms";
  -o-transition: "all" "200ms";
  transition: "all" "200ms";
}
nav > ul > li ul li a:hover, nav > ul > li ul li a.active {
  color: #e57823;
}
nav > ul > li:hover ul {
  display: block;
}

/* PORTADA */
a.portada {
  clear: both;
  float: left;
  width: 240px;
  height: 35px;
  background: #e57823;
  color: white;
  padding: 0 20px;
  margin: 5px 0 5px -50px;
  line-height: 35px;
  font-size: 18px;
  text-align: right;
  border-radius: 0 5px 5px 0;
  -webkit-transition: background 200ms;
  -moz-transition: background 200ms;
  -o-transition: background 200ms;
  transition: background 200ms;
  -webkit-transition: margin 200ms;
  -moz-transition: margin 200ms;
  -o-transition: margin 200ms;
  transition: margin 200ms;
}
a.portada:hover {
  transition-property: background, margin;
  background: #4c4849;
  margin: 5px 0;
}

/* OFICINAS */
#oficinas article {
  float: left;
  width: 213px;
  margin: 20px 10px 10px;
  padding: 0 10px;
}
#oficinas article:nth-of-type(2n) {
  border-left: 1px solid #333333;
  padding-left: 20px;
}
#oficinas article .telefonos {
  color: #666666;
  line-height: 1.6em;
}
#oficinas article .email {
  color: black;
  line-height: 1.6em;
}
#oficinas article ul {
  margin: 0.5em 0;
}

/* CONTACTO */
#contacto .row {
  padding: 0 0 15px 0;
  position: relative;
}
#contacto label {
  width: 15%;
  display: block;
  float: left;
  height: 22px;
  line-height: 22px;
  text-align: right;
  padding: 0 10px 0 0;
  box-sizing: border-box;
}
#contacto label.error {
  width: auto;
  float: none;
  height: 16px;
  position: absolute;
  top: 0;
  right: 4px;
}
#contacto input {
  border: none;
  background-color: #eaedf4;
  width: 420px;
  height: 22px;
  text-indent: 5px;
  border-radius: 15px 0 0 15px;
}
#contacto input.enviar {
  background-color: #4c4849;
  color: white;
  display: block;
  height: 30px;
  width: 83px;
  border: none;
  border-radius: 15px;
  float: right;
  cursor: pointer;
  margin-right: 10px;
  -webkit-box-shadow: -1px -3px 3px rgba(0, 0, 0, 0.5) inset, 0 2px 3px rgba(255, 255, 255, 0.8) inset;
  -moz-box-shadow: -1px -3px 3px rgba(0, 0, 0, 0.5) inset, 0 2px 3px rgba(255, 255, 255, 0.8) inset;
  box-shadow: -1px -3px 3px rgba(0, 0, 0, 0.5) inset, 0 2px 3px rgba(255, 255, 255, 0.8) inset;
}
#contacto input.enviar:hover {
  background-color: #605e5f;
}
#contacto textarea {
  border: none;
  font-family: "OpenSans";
  font-size: 12px;
  background-color: #eaedf4;
  width: 410px;
  border-radius: 15px 0 0 15px;
  height: 100px;
  padding: 5px 5px;
  resize: none;
}

#listado {
  width: 700px;
  height: 400px;
  margin: 0 auto;
  background: white;
  border-radius: 7px;
}
#listado h1 {
  float: left;
  font-size: 25px;
  padding: 15px;
  font-family: "CaviarDreams";
  font-size: 25px;
  line-height: 20px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
#listado #ordenacion {
  float: right;
  height: auto;
  padding: 15px;
  font-family: "OpenSans";
  font-size: 12px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
#listado #ordenacion .deshabilitado {
  color: #746e62;
  background: #e57823 url(../img/flecha-combo-02-des.png) top right no-repeat;
}
#listado #ordenacion > div {
  float: left;
  height: 20px;
  width: 100px;
  background: #e57823 url(../img/flecha-combo-02.png) top right no-repeat;
  color: white;
  cursor: pointer;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  margin: 0 5px;
}
#listado #ordenacion > div span {
  display: block;
  padding: 3px 8px;
}
#listado #ordenacion > div div {
  display: none;
  position: relative;
  z-index: 1;
  background: #f79b34;
  font-family: "CaviarDreams";
  max-height: 200px;
  font-size: 12px;
  line-height: 20px;
}
#listado #ordenacion > div div li {
  padding: 0 5px;
}
#listado #ordenacion > div div li:hover {
  background: #83684d;
}

#scrollinterno {
  overflow: hidden;
  *zoom: 1;
  height: 340px;
  margin: 50px 0 0 0;
}
#scrollinterno article {
  overflow: hidden;
  *zoom: 1;
  margin: 0 15px;
  padding: 15px;
  font-family: "OpenSans";
  border-bottom: 2px solid #666666;
}
#scrollinterno article:first-of-type {
  border-top: 2px solid #666666;
}
#scrollinterno article a {
  float: left;
  width: 185px;
  height: 132px;
  overflow: hidden;
  text-decoration: none;
}
#scrollinterno article a:hover > span {
  bottom: 30px;
  -webkit-transition: "all" "200ms";
  -moz-transition: "all" "200ms";
  -o-transition: "all" "200ms";
  transition: "all" "200ms";
}
#scrollinterno article a > span {
  background: #4c4849;
  color: white;
  height: 30px;
  width: 100%;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  overflow: hidden;
  font-size: 12px;
  -webkit-transition: "all" "200ms";
  -moz-transition: "all" "200ms";
  -o-transition: "all" "200ms";
  transition: "all" "200ms";
  position: relative;
  bottom: 0px;
  z-index: 99;
  display: block;
}
#scrollinterno article div {
  float: left;
  margin: 0 15px;
}
#scrollinterno article div h2 {
  font-size: 16px;
  margin: 0 0 0.5em 0;
}
#scrollinterno article div p {
  font-size: 13px;
  margin: 0 0 0.5em 0;
  line-height: 1.3em;
}
#scrollinterno article div li:before {
  content: "- ";
  font-size: 13px;
  line-height: 1.4em;
}

.nicescroll-rails {
  border-radius: 5px;
}

section {
  width: 1000px;
  font-family: "OpenSans";
  font-size: 12px;
  position: relative;
  overflow: hidden;
  *zoom: 1;
  margin: 0 auto;
}
section .whitecard {
  background-color: white;
  min-height: 200px;
  width: 510px;
  border-radius: 7px;
  padding: 20px;
}
section .whiteh1 {
  font-size: 30px;
  padding: 22px 0px 0px;
  border-bottom: 2px solid;
  border-bottom-style: groove;
  min-height: 27px;
}
section .whitep {
  padding: 10px 0;
}
section #galeria {
  width: 370px;
  height: 400px;
  float: left;
  margin-left: 40px;
}
section #galeria #picture {
  background-color: white;
  width: 350px;
  padding: 16px 10px 14px;
  border-radius: 7px 7px 0 0;
}
section #galeria #picture img {
  display: block;
  margin: 0 auto;
}
section #galeria #slider {
  background-color: white;
  width: 370px;
  height: 80px;
  margin: 0 auto;
  border-radius: 0 0 7px 7px;
}
section #galeria #slider .control, section #galeria #slider #prev, section #galeria #slider #next {
  width: 20px;
  height: 71px;
  float: left;
  background-color: transparent;
  cursor: pointer;
}
section #galeria #slider #prev {
  background: url(../img/flecha_izq.png) no-repeat right 15px;
}
section #galeria #slider #carousel {
  float: left;
}
section #galeria #slider #carousel img {
  margin: 0 5px;
}
section #galeria #slider #next {
  background: url(../img/flecha_der.png) no-repeat left 15px;
}
section #desarrollos {
  position: relative;
  float: right;
  width: 520px;
  margin-right: 40px;
  font-size: 1.2em;
  top: 33px;
}
section #desarrollos .logo {
  float: right;
  -webkit-border-radius: 8px 8px 0 0;
  -moz-border-radius: 8px 8px 0 0;
  -ms-border-radius: 8px 8px 0 0;
  -o-border-radius: 8px 8px 0 0;
  border-radius: 8px 8px 0 0;
  width: 150px;
  height: 130px;
  padding: 15px 15px 0 15px;
  background: white;
  margin-right: 20px;
  margin-bottom: 20px;
  position: relative;
  top: 35px;
}
section #desarrollos .contenido {
  overflow: hidden;
  *zoom: 1;
  width: 520px;
  padding: 15px;
  background: white;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}
section #desarrollos .contenido h1 {
  padding: 0px 35px 10px 310px;
  margin-bottom: 10px;
  text-align: center;
  border-bottom: 1px solid #333333;
}
section #desarrollos .contenido p {
  line-height: 1.3em;
}
section #desarrollos .contenido ul {
  list-style: square inside;
  padding: 0 0 0 12px;
}
section #desarrollos .contenido ul li {
  padding: 5px 0;
  float: left;
  min-width: 50%;
}
section #specifications {
  overflow: hidden;
  *zoom: 1;
  width: 490px;
  padding: 15px;
  background: white;
  float: right;
  position: relative;
  top: 213px;
  margin-right: 40px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}
section #specifications h1 {
  padding: 0px 35px 10px 310px;
  margin-bottom: 10px;
  text-align: center;
  border-bottom: 1px solid #333333;
}
section #specifications p {
  line-height: 1.3em;
}
section #specifications ul {
  list-style: square inside;
  padding: 0 0 0 12px;
}
section #specifications ul li {
  padding: 5px 0;
  float: left;
  min-width: 50%;
}
section #controls {
  background-color: white;
  height: 32px;
  width: 200px;
  border-radius: 7px;
  text-align: center;
  line-height: 32px;
  float: left;
  position: absolute;
  bottom: 0px;
  margin-left: 40px;
}
section #controls #placeslist {
  float: left;
  width: 160px;
  font-size: 18px;
}
section #controls span {
  float: left;
  width: 160px;
}
section #controls #back {
  width: 12px;
  height: 30px;
  float: left;
  background-color: transparent;
  cursor: pointer;
  background: url(../img/flechas.png) center left no-repeat;
  margin-left: 5px;
}
section #controls #go {
  width: 12px;
  height: 30px;
  float: right;
  background-color: transparent;
  cursor: pointer;
  margin-right: 5px;
  background: url(../img/flechas.png) center right no-repeat;
}

#mask {
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  display: none;
  z-index: -98;
  height: 100%;
  width: 100%;
}

#imgbg {
  position: absolute;
  z-index: -99;
  top: 0;
  left: 0;
  background-size: cover;
  width: 100%;
  height: 100%;
}

/* CLASES ÚTILES */
.show {
  display: block !important;
}

.contenedor {
  width: 1000px;
  margin: 0 auto;
}

.caja-blanca {
  background: white;
  border-radius: 7px;
  padding: 15px;
  width: 520px;
  overflow: hidden;
  *zoom: 1;
}

.caja-derecha {
  float: right;
  margin-right: 50px;
}

/* FOOTER */
footer {
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  overflow: hidden;
  font-family: OpenSans;
  text-shadow: 0 0.1em 0.2em #777777;
}
footer div {
  width: 1000px;
  margin: 0 auto;
}
footer p {
  font-size: 14px;
  padding: 10px 0;
  line-height: 50px;
}
footer p:first-of-type {
  float: left;
}
footer p:last-of-type {
  float: right;
}
footer p:last-of-type a {
  color: white;
  text-decoration: none;
}
