$primario: #E57823
$secundario: #4C4849
$hover-menu: #00A2A0
$fontfamily: "OpenSans"
$fontsize: 13px

// imports
@import "compass/css3"
@import "compass/reset"
@import "compass/typography"
@import "fonts"

// hack shit

html, body 
	height: 100%
	font-family: "OpenSans"
#wrapper 
	min-height: 100%
	position: relative

// backgrounds
body
	background-repeat: no-repeat
	background-size: cover
	background-image: url(../imagenes/foto-01.jpg)


/* ESTILOS GENÉRICOS */
section
	padding-bottom: 50px
	@extend .contenedor
	+clearfix

	h1
		font-family: "CaviarDreams"
		font-size: 25px
		border-bottom: 1px solid #333
		padding-bottom: 10px
		margin-bottom: 10px
	h2
		font-size: 18px
	p
		font-size: 13px
		line-height: 1.3em
		margin-bottom: 1.3em
	li
		font-size: 13px
	li.guion
		&:before
			content: "- "
			line-height: 1.4em
	li.cuadro
		&:before
			content: "■ "
	strong
		font-family: "OpenSansBold"
	a
		color: inherit
		text-decoration: none

/* HEADER */
header
	height: 200px
	background: url(../imagenes/bg_header.png)
	margin: 0 0 30px 0

	>div
		@extend .contenedor
		z-index: 1
		position: relative

		#logo
			float: left
			display: block
			height: 163px
			width: 189px
			margin: 35px 0 0 30px 

		#filtro
			float: right
			margin: 30px 50px 0 0
			height: 50px
			width: 535px
			font-family: CaviarDreams
			font-size: 14px
			position: relative
			z-index: 99999

			.seleccionado
				color: black

			>div
				width: 100%
				background: $primario
				height: 60%
				padding: 5px 6px
				margin: 20px 0 0 0
				box-sizing: border-box
				-moz-box-sizing: border-box
				border-radius: 0 7px 7px 7px

				button
					width: 23px
					color: white
					padding: 0
					height: 24px
					margin: -2px 0 0 -3px
					border: none
					background-color: transparent
					cursor: pointer
				>div
					float: left
					width: 238px
					background: white url(../imagenes/flecha-combo.png) top right no-repeat
					color: #AAA
					padding: 0 3px
					margin: 0 6px 0 0
					cursor: pointer
					line-height: 20px
					+single-box-shadow(rgba(0,0,0,.2), 0px, 0px, 5px, 0px)

					span
						display: block
					div
						max-height: 100px
						display: none

						ul
							float: right
							width: 238px
							padding: 0 8px 0 0
							box-sizing: border-box
							-moz-box-sizing: border-box

							li
								float: left
								text-align: left
								width: 100%
								color: black
								padding: 0 10px 0 5px
								box-sizing: border-box
								-moz-box-sizing: border-box
								position: relative

								&:hover
									background: #FAE1CD
			a
				float: left
				height: 20px
				width: 100px
				color: white
				background: $secundario
				padding: 0 5px
				line-height: 17px
				border-radius: 7px 7px 0 0
				text-decoration: none

				&:hover
					background: #B84E00
			.active
				background: $primario !important

/* SOCIAL MEDIA */
#socialmedia
	float: right
	height: 50px
	line-height: 50px
	padding: 20px 50px 0 0
	text-align: right
	width: 580px

	a
		text-decoration: none
		color: black

		i
			font-size: 16px
			margin: 0 5px 0 0

/* BARRA DE MENU */
nav
	position: relative
	margin: 0 auto
	float: right
	width: 70%
	z-index: -1

	>ul
		float: right
		font-family: "CaviarDreams"
		margin: 0 25px 0 0
		font-size: 16px

		>li
			padding: 0 18px
			position: relative
			text-align: center
			float: left

			>a
				color: black
				text-shadow: 0 0.2em 0.2em #AAA
				height: 50px
				line-height: 50px
				display: block
				width: 80px
				text-transform: lowercase
				text-decoration: none
				&:hover, &.active
					color: $primario
			ul
				display: none
				position: absolute
				z-index: 99999
				margin: 0 -30px
				width: 120px
				background: white
				border-radius: 0 0 7px 7px
				padding: 0 10px

				li					
					+single-transition("all", "200ms")

					a
						text-decoration: none
						color: black
						text-shadow: 0 0.2em 0.2em #AAA
						line-height: 1em
						margin: 10px 0
						display: block
						+single-transition("all", "200ms")

						&:hover, &.active
							color: $primario 
			&:hover
				ul
					display: block

/* PORTADA */
a.portada
	clear: both
	float: left
	width: 240px
	height: 35px
	background: $primario
	color: white
	padding: 0 20px
	margin: 5px 0 5px -50px
	line-height: 35px
	font-size: 18px
	text-align: right
	border-radius: 0 5px 5px 0
	+single-transition(background, 200ms)
	+single-transition(margin, 200ms)

	&:hover
		transition-property: background, margin
		background: #4C4849
		margin: 5px 0

/* OFICINAS */
#oficinas
	article
		float: left
		width: 213px
		margin: 20px 10px 10px
		padding: 0 10px

		&:nth-of-type(2n)
			border-left: 1px solid #333
			padding-left: 20px

		.telefonos
			color: #666
			line-height: 1.6em
		.email
			color: black
			line-height: 1.6em
		ul
			margin: .5em 0

/* CONTACTO */
#contacto
	.row
		padding: 0 0 15px 0
		position: relative

	label
		width: 15%
		display: block
		float: left
		height: 22px
		line-height: 22px
		text-align: right
		padding: 0 10px 0 0
		box-sizing: border-box
		&.error
			width: auto
			float: none
			height: 16px
			position: absolute
			top: 0
			right: 4px

	input
		border: none
		background-color: #EAEDF4
		width: 420px
		height: 22px
		text-indent: 5px
		border-radius: 15px 0 0 15px

		&.enviar
			background-color: #4C4849
			color: white
			display: block
			height: 30px
			width: 83px
			border: none
			border-radius: 15px
			float: right
			cursor: pointer
			margin-right: 10px
			+box-shadow(-1px -3px 3px rgba(0, 0, 0, .5) inset, 0 2px 3px rgba(255, 255, 255, .8) inset)
			&:hover
				background-color: #605E5F	

	textarea
		border: none
		font-family: "OpenSans"
		font-size: 12px
		background-color: #EAEDF4
		width: 410px
		border-radius: 15px 0 0 15px
		height: 100px
		padding: 5px 5px
		resize: none


// corretaje - compra
#listado
	position: relative
	#ordenacion
		position: absolute
		top: 0px
		right: 0px
		height: auto
		padding: 15px
		font-family: "OpenSans"
		font-size: 12px
		box-sizing: border-box
		-moz-box-sizing: border-box

		.deshabilitado
			color: #746E62
			background: $primario url(../imagenes/flecha-combo-02-des.png) top right no-repeat
		>div
			float: left
			height: 20px
			width: 100px
			background: $primario url(../imagenes/flecha-combo-02.png) top right no-repeat
			color: white
			cursor: pointer
			box-sizing: border-box
			-moz-box-sizing: border-box
			margin: 0 5px

			span
				display: block
				padding: 3px 8px
			div
				display: none
				position: relative
				z-index: 1
				background: #F79B34
				font-family: "CaviarDreams"
				max-height: 200px
				font-size: 12px
				line-height: 20px

				li
					padding: 0 5px

					&:hover
						background: #83684D

#scrollinterno
	+clearfix
	height: 340px
	//margin: 50px 0 0 0

	

	article
		+clearfix
		margin: 0 15px
		padding: 15px
		font-family: "OpenSans"
		border-bottom: 1px solid #333
	
		a
			float: left
			width: 185px
			height: 132px
			overflow: hidden
			text-decoration: none
			&:hover >span
				bottom: 30px
					
			>span
				background: $secundario
				color: white
				height: 30px
				width: 100%
				line-height: 28px
				text-align: center
				text-transform: uppercase
				overflow: hidden
				font-size: 12px
				+single-transition("all", "200ms")
				position: relative
				bottom: 0px
				z-index: 99
				display: block
			
		div
			float: left
			margin: 0 15px
			h2
				font-size: 16px
				margin: 0 0 .5em 0
			p
				font-size: 13px
				margin: 0 0 .5em 0
				line-height: 1.3em
			li
				&:before
					content: "- "
					font-size: 13px
					line-height: 1.4em
// N

// Nicescroll rail fix
.nicescroll-rails
	border-radius: 5px

// ----------------------------------------- choochoo

//section
section

	//common styles
	.whitecard
		background-color: white
		min-height: 200px
		width: 510px
		border-radius: 7px
		padding: 20px

	.whiteh1
		font-size: 30px
		padding: 22px 0px 0px
		border-bottom: 2px solid
		border-bottom-style: groove
		min-height: 27px

	.whitep
		padding: 10px 0
	//above classes to extend

	#galeria
		width: 370px
		height: 400px
		float: left
		margin-left: 40px
		#picture
			background-color: white
			width: 350px
			padding: 16px 10px 14px
			border-radius: 7px 7px 0 0

			img
				display: block
				margin: 0 auto
				

		#slider
			background-color: white
			width: 370px
			height: 80px
			margin: 0 auto
			border-radius: 0 0 7px 7px

			.control
				width: 20px
				height: 71px
				float: left
				background-color: transparent
				cursor: pointer

			#prev
				@extend .control
				background: url(../imagenes/flecha_izq.png) no-repeat right 15px
			#carousel
				float: left

				img
					margin: 0 5px
			#next
				@extend .control
				background: url(../imagenes/flecha_der.png) no-repeat left 15px

	#desarrollos
		position: relative
		float: right
		width: 520px
		margin-right: 40px
		font-size: 1.2em
		top: 33px
		.logo
			float: right
			+border-radius(8px 8px 0 0)
			width: 150px
			height: 130px
			padding: 15px 15px 0 15px
			background: white
			margin-right: 20px
			margin-bottom: 20px
			position: relative
			top: 35px
		.contenido
			+clearfix
			width: 520px
			padding: 15px
			background: white
			+border-radius(8px)
			h1
				padding: 0px 35px 10px 310px
				margin-bottom: 10px
				text-align: center
				border-bottom: 1px solid #333
			p
				line-height: 1.3em
			ul
				list-style: square inside
				padding: 0 0 0 12px

				li
					padding: 5px 0
					float: left
					min-width: 50%

	#specifications
		+clearfix
		width: 490px
		padding: 15px
		background: white
		float: right
		position: relative
		top: 175px
		margin-right: 40px
		+border-radius(8px)
		h1
			text-align: right
		ul
			list-style: square inside
			padding: 0 0 0 12px

			li
				padding: 5px 0
				float: left
				min-width: 50%

	

	#controls
		background-color: white
		height: 32px
		width: 200px
		border-radius: 7px
		text-align: center
		line-height: 32px
		float: left
		position: relative
		top: 375px
		margin-left: 40px

		#placeslist
			float: left
			width: 160px
			font-size: 18px

		span
			float: left
			width: 160px

		#back
			width: 12px
			height: 30px
			float: left
			background-color: transparent
			cursor: pointer
			background: url(../imagenes/flechas.png) center left no-repeat
			margin-left: 5px

		#go
			width: 12px
			height: 30px
			float: right
			background-color: transparent
			cursor: pointer
			margin-right: 5px
			background: url(../imagenes/flechas.png) center right no-repeat

#mask
	position: absolute
	top: 0
	left: 0
	background: white
	display: none
	z-index: -98
	height: 100%
	width: 100%
#imgbg
	position: absolute
	z-index: -99
	top: 0
	left: 0
	background-size: cover
	width: 100%
	height: 100%


/* CLASES ÚTILES */
.show
	display: block !important

.contenedor
	width: 1000px
	margin: 0 auto

.caja-blanca
	background: white
	border-radius: 7px
	padding: 15px
	width: 520px
	+clearfix

.caja-derecha
	float: right
	margin-right: 50px

.caja-central
	margin: 0 auto
	width: 700px
	height: 400px

/* FOOTER */
footer 
	width: 100%
	height: 50px
	position: absolute
	bottom: 0
	left: 0
	color: white
	overflow: hidden
	font-family: OpenSans
	text-shadow: 0 0.1em 0.2em #777
	>div
		@extend .contenedor
		p
			font-size: 14px
			padding: 10px 0
			line-height: 50px
			&:first-of-type
				float: left
			&:last-of-type
				float: right
				a
					color: white
					text-decoration: none