!!! 5
html
	include includes/head
	
	body
		ubi = ""
		include includes/header
		section#portada
			a(href='#') Distrito Federal
			a(href='#') Metepec
			a(href='#') Cuernavaca
			a(href='#') Los Cabos
		include includes/footer