!!! 5
location = "home"
html
	include includes/head

	body
		#wrapper
			include includes/header
			section
				a(href='#').portada Distrito Federal
				a(href='#').portada Metepec
				a(href='#').portada Cuernavaca
				a(href='#').portada Los Cabos
			include includes/footer