!!! 5
location = "contacto"
html
	include includes/head
	
	body
		#wrapper
			include includes/header
			div.contenedor
				section#nuestrasOficinas
					h1 Nuestras Oficinas
					p Nos ponemos a tus órdenes para cualquier tipo de duda o aclaración.
					article.border
						h2 Distrito Federal
						ul.telefonos
							li Teléfonos:
							li (55) 5535 - 0121 Oficina
							li (55) 5135 - 5794 Fax
						ul.email
							li Email:
							li info_df@goodhaus.com.mx
					article
						h2 Metepec
						ul.telefonos
							li Teléfonos:
							li (57) 5535 - 0121 Oficina
							li (57) 5135 - 5794 Fax
						ul.email
							li Email:
							li info_metepec@goodhaus.com.mx
					article.border
						h2 Cuernavaca
						ul.telefonos
							li Teléfonos:
							li (55) 5535 - 0121 Oficina
							li (55) 5135 - 5794 Fax
						ul.email
							li Email:
							li info_cuernavaca@goodhaus.com.mx
					article
						h2 Los Cabos
						ul.telefonos
							li Teléfonos:
							li (55) 5535 - 0121 Oficina
							li (55) 5135 - 5794 Fax
						ul.email
							li Email:
							li info_loscabos@goodhaus.com.mx
			include includes/footer