!!! 5
location = "desarrollos"
html
	include includes/head
	
	body
		#wrapper
			include includes/header
			section
				#controls
					#back
					#placeslist
						ul
							li
								span(title="url(../imagenes/foto-01.jpg)") LOS OLIVOS (1-6)
							li
								span(title="url(../imagenes/foto-02.jpg)") LOS OLIVOS (2-6)
							li
								span(title="url(../imagenes/foto-01.jpg)") LOS OLIVOS (3-6)
							li
								span(title="url(../imagenes/foto-02.jpg)") LOS OLIVOS (4-6)
							li
								span(title="url(../imagenes/foto-01.jpg)") LOS OLIVOS (5-6)	
							li
								span(title="url(../imagenes/foto-02.jpg)") LOS OLIVOS (6-6)	
					#go
				
				#desarrollos
					.logo
						img(src="../imagenes/150x130.gif", alt="")
					.contenido
						h1 Los Olivos
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod quis nostrud exercitation ullamco laboris nisi t aliquip ex ea commodo consequat. Duis aute irure dolor.
						ul
							li lorem ipsum
							li lorem ipsum
							li lorem ipsum
							li lorem ipsum
							li lorem ipsum
							li lorem ipsum						
			#mask
			#imgbg
			include includes/footer