head
	meta(charset='utf-8')
	title good-haus
	meta(name='description', content='')
	meta(name='viewport', content='width=device-width')
	link(rel='stylesheet', href='css/styles.css')
	//if lt IE 8
		link(rel='stylesheet', href='css/styles-ie7.css')
		script(src='js/lte-ie7.js')

	script(src='js/jquery-1.8.3.min.js')
	script(src='js/jquery.nicescroll.min.js')
	script(type="text/javascript", src="js/jcarousellite_1.0.1.min.js")
	script(src='js/jquery.validate.min.js')
	script(type="text/javascript", src="js/jcarousellite_1.0.1.min.js")
	script(type="text/javascript", src="js/all.js")
	script(src='js/scripts.js')

	// only IE 
	//if lt IE 9
		script(src='js/html5shiv.js')
		script(src='js/jquery-extra-selectors.js')
		script(src='js/selectivizr-min.js')